.activities {
  display: inline-block;
}
@media (max-width: 640px) {
  .scrollBody {
    max-height: 400px;
    overflow-y: auto;
  }
  .scrollBody {
    /* Foreground, Background */
    scrollbar-color: rgb(202, 201, 201);
  }
  .scrollBody::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .scrollBody::-webkit-scrollbar-thumb {
    background: rgb(202, 201, 201);
    border-radius: 5px;
  }
  .scrollBody::-webkit-scrollbar-track {
    background: #fff;
  }
}
