.activities {
  display: inline-block;
}
.scrollBody {
  max-height: 600px;
  overflow-y: auto;
}
@media (max-width: 640px) {
  .scrollBody {
    max-height: 400px;
  }
  .scrollBody p {
    font-size: 0.8rem;
  }
}
.scrollBody {
  /* Foreground, Background */
  scrollbar-color: rgb(202, 201, 201);
}
.scrollBody::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollBody::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201);
  border-radius: 5px;
}
.scrollBody::-webkit-scrollbar-track {
  background: #fff;
}
